body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dd12e481;
}

header {
    text-align: center;
    background-color: #3e00ceaf;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(54, 6, 184, 0.349);
}